<div class="container">
 <div class="container jumbotron">
  <h2>Add a new definition:</h2>
 </div>
</div>

<form action="/definitions" method="post">
  <label for="summary">Definition:</label>
  <input id="summary" name="summary" type="text">

  <button type="submit" class="btn">Submit Definition</button>
</form>
