<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
    <title>Millennial Dictionary</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    #parse($template)
  </body>
</html>
