<h1>Millennial Dictionary</h1>

<div class="word_definition"
  <ul>
    #foreach ($word in $words)
      <li><a href="/words/$word.getId()">$word.getTerm()</a></li>
    #end
  </ul>
</div>

  <h3><a href="/words/new">Add to Archive</a></h3>
