<div class="container">
 <div class="jumbotron">
  <h1>Success!</h1>
 </div>
</div>


<div class="container">
 <div class="container jumbotron">
  <h2>We have confirmed that $word.getTerm() has updated.</h2>
  <h2>The server will refresh to process this information, and will be displayed.</h2>
 </div>
</div>
  <h3><a href="/words">Return to Archive</a></h3>
