<div class="container">
 <div class="jumbotron">
  <h1>Congratulations!</h1>
 </div>
</div>

<br>
<h3>Your word has been accepted into the database</h3>
<br>
<h3>To view, please select the following link:</h3>
<h3><a href="/words">Review Words</a></h3>
