<h1>Success!</h1>

  <h2>We have confirmed that $word.getTerm() has updated.</h2>
  <h2>The server will refresh to process this information, and will be displayed.</h2>

  <h3><a href="/words">Return to Archive</a></h3>
