<div class="container">
  <div class="jumbotron">
    <h1>Add a definition to $word.getTerm()</h1>
  </div>
</div>
<br>
<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">
    <label for="definition"></label>
    <input id="definition" name="definition" type="text" required>

  <div>
      <button type="submit" class="btn">Add Definition</button>
  </div>
</form>
